# dir <path>              - where dump.rdb / appendonly.aof are stored
# dbfilename <name>        - RDB snapshot filename
# save <secs> <changes>    - snapshot trigger, repeatable
# appendonly yes|no        - enable AOF
# appendfilename <name>
# appendfsync always|everysec|no
# requirepass <password>   - require AUTH before other commands

dir data
dbfilename dump.rdb
save 900 1
save 300 10
appendonly yes
appendfilename appendonly.aof
appendfsync everysec
